.pytest_cache/
.ruff_cache/
.mypy_cache/
.idea/
node_modules/
# Electron & Packaging
node_modules/
dist/
build/
desktop/bin/
*.spec
.DS_Store
build.log

# user settings 
user/

# Virtual Environment
venv/

__pycache__
