[Desktop Entry]
Name=NegPy
Exec=NegPy
Icon=negpy
StartupWMClass=NegPy
Type=Application
Categories=Graphics;Photography;
Comment=Film Negative Editor
Terminal=false
