[Desktop Entry]
Name=NegPy
Exec=NegPy
Icon=icon
Type=Application
Categories=Graphics;Photography;
Comment=Professional Film Negative Processing
Terminal=false
